    body{
        background-image: radial-gradient(#9d885c,#5b7592);
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
    }
    button{
        width: 100px;
        height: 50px;
        border-radius: 15px;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hidden {
        display: none;
        visibility: none;
    }
    #buttons{
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 5px;
    }
    #titleDiv{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: darkgoldenrod;
        height: 75px;
        width: 100vw;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px; 
        letter-spacing: 15px;

    }
    #content{
        height: 100%;
        width: 100%;
    }
    #gameInfo {
        box-sizing: border-box;
        border-bottom: 2px solid black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 100px;
    }
    .currentPlayer{
        background-color: green;
    }
    .playerNamePlate{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: black;
        border: 1px solid black;
        font-size: 24px;
        width: 200px; 
        height: 75px;
        border-radius: 15px;
        background-color: #b8c0ae;
    }
    #changeNameBtn{
        height: 50px;
        width: fit-content;
    }

    #gameboardsContainer{
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }
    #player1Div{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        width:fit-content;
        height: fit-content;
        padding: 25px;
    }
    #player2Div{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        width:fit-content;
        height: fit-content; 
        padding: 25px;
    }
    .labels{
        display: grid;
        grid-template-columns: 50px;
        grid-template-rows: 50px;
        /* width: 10px; */
        font-size: 30px;
        color: black;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    #player1Board{
        display: grid;
        grid-template-columns: repeat(auto-fill, 50px);
        grid-template-rows: repeat(auto-fill, 50px);
        border: 1px solid #87754e;
        box-shadow: 10px 15px 15px 15px #283342;
        height: 500px;
        width: 500px;
    }
    #player2Board{
        display: grid;
        grid-template-columns: repeat(auto-fill, 50px);
        grid-template-rows: repeat(auto-fill, 50px);
        border: 1px solid #87754e;
        box-shadow: 10px 15px 15px 15px #283342;
        height: 500px;
        width: 500px;
    }
    .cell{
        box-sizing: border-box;
        background-color: #37495a;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        cursor: pointer;
    }
    .cell.hit{
        box-sizing: border-box;
        background-color: red;
        border-color: darkred;
    }
    .cell.miss{
        box-sizing: border-box;
        background-color: antiquewhite;
        border-color: mintcream;
    }
    .cell.ship{
        box-sizing: border-box;
        background-color: #858d7c;
        border: 2px solid black;
    }



